name: Deploy to Vercel

env:
  VERCEL_ORG_ID: team_ENd02MFFUTJpAHw1APx0lQfq
  VERCEL_PROJECT_ID: prj_eVyE4RCsNXBgsDt8ZSnTwAK9gZla

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build
        
      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Deploy to Vercel
        run: vercel --prod --token=${{ secrets.VERCEL_TOKEN }}
